*{
    font-family: "Kumbh", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background: hsl(185, 75%, 39%);
}

.container{
    width: 100%;
    height: 100vh;
}
.card{
    width: 350px;
    height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow: hidden;
}
.photo{
    border: 5px white solid;
    overflow: hidden;
    width: 95px;
    height: 95px;
    position: relative;
    left: 35%;
    top: -13%;
    border-radius: 50%;
    z-index: 99999;
}
.medium-card{
    background: #fff;
    position: relative;
    width: 350px;
    height: 280px;
    top: -110px;
}
.profile{
    position: relative;
    top: 20%;
    width: 350px;
    height: 140px;
    padding-top: 14px
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{ 
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}
span.city{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

span.age{
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

span{
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    font-family: "Kumbh", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.score{
    margin: 30px 20px 0px 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    justify-items: center;
}
.score::before{
    position: absolute;
    content: "";
    width: 350px;
    border: 1px solid hsl(0, 0%, 59%);
    top: 57%;
    left: 0px;
    opacity: 25%;
}

h2{
    position: relative;
    font-size: 22px;
    font-weight: 700;
    width: 44px;
    height: 32px;
    left: 2px;
}

.bg-top{
    background: url(/images/bg-pattern-top.svg);
    position: absolute;
    bottom: 44%;
    right: 46%;
    width: 978px;
    height: 978px;
    transform: rotate(10deg);
}

.bg-bottom{
    background: url(/images/bg-pattern-bottom.svg);
    position: absolute;
    top: 48%;
    left: 51%;
    width: 978px;
    height: 978px;
    transform: rotate(10deg);
}


.attribution { 
    font-size: 11px;
    position: fixed;
    left: 40%;
    top: 95%;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
    .card{
        width: 320px;
        top: 48%;
        left: 48%;
    }
    .bg-top{
        bottom: 47%;
        right: 49%;
        transform: rotate(-14deg);
    }
    .bg-bottom{
        top: 36%;
        left: 51%;
        transform: rotate(-40deg);
    }
    h1{
        padding-right: 24px;;
    }
    h2{
        left: -14px;
    }
    span{
        position: relative;
        left: -14px;
    }
    .score{
        margin: 35px;
    }
    .score::before{
        left: -20px;
    }   
}
