*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Kumbh", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url('/images/bg-pattern-top.svg'), 
        url('/images/bg-pattern-bottom.svg');
    background-position: 
        right calc(47vw + 15%) bottom calc(65vh - 15vw),
        left calc(40vw + 25%) top calc(72vh - 15vw);
        background-repeat: no-repeat;
        min-height: 100vh;
        overflow-x: hidden;
        padding: 0px 24px;
}
.container{
    height: 100vh;
}
.card{
    width: 350px;
    height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo{
    border: 5px white solid;
    overflow: hidden;
    width: 95px;
    height: 95px;
    position: relative;
    left: 35%;
    top: -13%;
    border-radius: 50%;
    z-index: 99999;
}
.upper-card svg{
    border-radius: 10px 10px 0px 0px;
}
.medium-card{
    background: #fff;
    position: relative;
    width: 350px;
    height: 280px;
    top: -110px;
    border-radius: 0px 0px 10px 10px;
}
.profile{
    position: relative;
    top: 20%;
    width: 350px;
    height: 140px;
    padding-top: 14px
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{ 
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}
span.city{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

span.age{
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

span{
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    font-family: "Kumbh", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.score{
    margin: 30px 20px 0px 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    justify-items: center;
}
.score::before{
    position: absolute;
    content: "";
    width: 350px;
    border: 1px solid hsl(0, 0%, 59%);
    top: 57%;
    left: 0px;
    opacity: 25%;
}

h2{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    width: 44px;
    height: 32px;
    left: 2px;
}
span.social{
    display: flex;
    justify-content: space-evenly;
}

.attribution { 
    font-size: 11px;
    font-size: 11px;
    position: relative;
    left: 15%;
    top: 95%;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
    body{
        background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(61vw + 25%) top calc(56vh - 15vw);
    }
    .card{
        width: 320px;
        top: 48%;
        left: 48%;
    }
    h1{
        padding-right: 24px;;
    }
    h2{
        left: -14px;
    }
    span{
        position: relative;
        left: -14px;
    }
    .score{
        margin: 35px;
    }
    .score::before{
        left: -20px;
    }   
}
